@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(245, 245, 245);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100px;
  /* border: 1px solid black; */
}

@media(max-width:700px) {
  .navbar {
    height: 200px;
    flex-direction: column;
    gap: 20px;
  }
}

.navbar>ul {
  background-color: white;
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 1.5rem;
}

.navbar>ul>* {
  background-color: white;
  text-decoration: none;
  font-size: 20px;
}

.navtext {
  background-color: white;
  text-decoration: none;
  color: black;
}

.navtext:hover {
  text-decoration: underline;
}

.logo {
  background-color: white;
  width: 194px;
  height: 40px;
  background-image: url('./img/Logo.png');
  background-repeat: no-repeat;
  /* border: 1px solid black; */
}

.shopicon {
  background-color: white;
  cursor: pointer;
  scale: 1.5;
}

/* --------------------------HOMEPAGE------------------------- */

.homepagecontainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid crimson; */
}

.homepagetop {
  padding-top: 80px;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media(max-width:700px) {
  .homepagetop {
    flex-direction: column;
  }
}

.homepagetopleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: auto;
  /* border: 1px solid black; */
  gap: 20px;
}

@media(max-width:700px) {
  .homepagetopleft {
    width: 100%;
    align-items: center;
  }
}

.shopnowbtn {
  border: none;
  font-size: 20px;
  width: 200px;
  height: 67px;
  border-radius: 5px;
  background-color: #292929;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: .3s;
}

.shopnowbtn:hover {
  font-size: 1.4rem;
}

.spansdiv {
  margin-top: 80px;
  font-size: 1.5rem;
  display: flex;
  gap: 50px;
  color: rgba(106, 106, 106, 1);
  /* border: 1px solid black; */
}

.homepagetopright {
  width: 500px;
  height: 600px;
  overflow: hidden;
}

@media(max-width:700px) {
  .homepagetopright {
    display: none;
  }
}

.homepagetopright figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.homepagetopright figure img {
  border-radius: 15px;
  height: 600px;
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.topinfocard {
  position: absolute;
  top: 900px;
  width: 60%;
  height: 182px;
  background-color: #CFB277;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.midcardinfotexts {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #CFB277;
}

.midcardinfotexts>* {
  text-align: center;
  font-size: larger;
  /* border: 1px solid crimson; */
  background-color: #CFB277;
}

/* -------mid */

.homepagemid {
  width: 70%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding-top: 150px;
  gap: 50px;
  /* border: 5px solid green; */
}

/* -------mid > productcard */

.productbuycardMain {
  /* border: 1px solid crimson; */
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #FFFFFF;
}

@media(max-width:700px){
  .productbuycardMain{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.homepagemidtitle {
  margin-top: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

.productbuycardcontainer {
  width: 300px;
  height: 450px;
  border: 1px solid lightgray;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: #FFFFFF;
}

.productimgg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
}

.discountdiv {
  background-color: transparent;
  text-align: center;
  padding: 10px 10px;
  font-weight: 600;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  /* border: 1px solid black; */
  border-radius: 0 0 10px 10px;
  background-color: #1dd1a1;
}

.addtochartbtn {
  font-weight: 600;
  width: 193px;
  height: 50px;
  background-color: #FFFFFF;
  color: #121212;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition-duration: .3s;
}

.addtochartbtn:hover {
  background-color: #121212;
  color: #FFFFFF;
}

/* ------- LOWER MİD------*/

.exploremoreBTN {
  font-weight: 600;
  cursor: pointer;
  width: 243px;
  height: 66px;
  background-color: #FFFFFF;
  border: 1.5px solid rgba(176, 142, 73, 1);
  font-size: 18px;
  transition-duration: .3s;
  border-radius: 5px;
}

.exploremoreBTN:hover {
  border: none;
  background-color: #121212;
  color: #FFFFFF;
}

/* ------- COllectionsAndBlog-----*/

.CollectionsAndBlogDiv {
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  /* border: 1px solid black; */
  gap: 50px;
}

.CollectionsAndBlogDiv>* {
  background-color: #FFFFFF;
}

.collectionsdiv {
  gap: 20px;
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid crimson; */
}

@media(max-width:700px){
  .collectionsdiv {
    flex-direction: column;
    width: 100%;
  }
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  border: 1.5px solid rgba(176, 142, 73, 1);
  border-radius: 5px;
}

@media(max-width:700px){
  .collection{
    width: 90%;
  }
}

.collectionleft {
  background: #CFB277;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 100%;
  /* border: 1px solid black; */
  padding-left: 30px;
}

.collectionleft>* {
  background-color: transparent;
}

.collectionshopBTN {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  transition-duration: .3s;
}

.collectionshopBTN:hover {
  background-color: #121212;
  color: #FFFFFF;
}

.collectionright {
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------BLOG */

.blogdivmain {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media(max-width:700px){
  .blogdivmain{
    width: 100%;
    flex-direction: column;
  }
}

.blogsdiv {
  background-color: transparent;
  width: 50%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media(max-width:700px){
  .blogsdiv{
    width: 90%;
  }
}

.blogdivleft {
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
}

.blogdivright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
  /* border: 1px solid red; */
  padding-left: 20px;
  gap: 20px;
}

.blogreadmoreBTN {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #CFB277;
  color: #121212;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  transition-duration: .3s;
}

.blogreadmoreBTN:hover {
  background-color: #121212;
  color: #FFFFFF;
}

/* ---------------bottomfooter */

.bottomfootermain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomfooterMail {
  width: 70%;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media(max-width:700px){
  .bottomfooterMail{
    flex-direction: column;
    width: 100%;
  }
}

.footermailleft {
  padding: 20px 20px;
  width: 40%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media(max-width:700px){
  .footermailleft {
    width: 90%;
  }
}

.mailleftcontainer {
  width: 100%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
}

.mailleftIMG {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footerright */

.footermailright {
  padding: 20px 20px;
  width: 40%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media(max-width:700px){
  .footermailright{
    width: 90%;
  }
}

.footerInput {
  width: 80%;
  height: 60px;
  border-radius: 5px;
  border: none;
  color: rgba(169, 169, 169, 1);
  background-color: #FFFFFF;
  padding-left: 20px;
}

.footerBTN {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: rgba(41, 41, 41, 1);
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  transition-duration: .3s;
}

.footerBTN:hover {
  font-size: 1.4rem;
}

/* --------------FOOTER NAV */

.bottomfooterNav {
  width: 100%;
  height: 300px;
  background: #292929;
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media(max-width:700px){
  .bottomfooterNav{
    height: auto;
    flex-direction: column;
    gap: 10px;
  }
}

.bottomfooter1div {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  color: #FFFFFF;
}

.bottomfooter1div>* {
  background-color: transparent;
}

.bottomfooter2div {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  text-decoration: none;
}

.link>p {
  background-color: #292929;
}

.bottomfooter2div>* {
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
}


.bottomfooter3div {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.bottomfooter3div>* {
  color: #FFFFFF;
  background-color: #292929;
}

.bottomfooter4div {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/* -------------------ALL PRODUCTS PAGE------------------------------------------- */
/* -------------------ALL PRODUCTS PAGE------------------------------------------- */
/* -------------------ALL PRODUCTS PAGE------------------------------------------- */

.AllProductsMainContainer {
  width: 70%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  margin: 50px 0px;
  padding: 20px;
  background-color: #FFFFFF;
}

@media(max-width:700px){
  .AllProductsMainContainer{
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* -------LEFT FİLTER BAR ----*/

.filteredbarleft {
  position: sticky;
  top: 100px;
  width: 20%;
  height: 100%;
  /* border-right: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #FFFFFF;
  padding-top: 20px;
}

@media(max-width:700px){
  .filteredbarleft{
    position:static;
    width: 100%;
    border: none;
  }
}

.filterBTN {
  width: 75%;
  height: 40px;
  border-radius: 5px;
  background: #292929;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition-duration: .3s;
}

.filterBTN:hover {
  background-color: #FFFFFF;
  color: #121212;
  font-size: 18px;
  /* border: 1px solid black; */
}

.filteredshowamount {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}

/* -------ALL PRODUCT MAİN PAGE ----*/
.allproductsmainpage {
  background-color: #FFFFFF;
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}



/* --------------------------------------CHART MAİN ----------------------*/
/* --------------------------------------CHART MAİN ----------------------*/
/* --------------------------------------CHART MAİN ----------------------*/

.chartPageMainContainer {
  margin: 100px 0;
  width: 70%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #FFFFFF;
}

@media(max-width:700px){
  .chartPageMainContainer{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cartpagebuyeditemcontainer {
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

@media(max-width:700px){
  .cartpagebuyeditemcontainer{
    flex-direction: row;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.chartpagetitles {
  margin-left: 50px;
  width: 70%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: transparent;
}

.chartpagetitles>* {
  font-size: 20px;
  background: transparent;
}

.buyeditemmini {
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

@media(max-width:700px){
  .buyeditemmini{
    border: 1px solid black;
    width: auto;
    min-height: 450px;
    height: auto;
    gap: 20px;
    flex-direction: column;
  }
}

.buyeditemmini>* {
  background: transparent;
}

.buyeditemimgmini {
  /* border: 1px solid black; */
  width: 100px;
  height: 100px;
  background-size: cover;
}

.buyeditemdiscountcircle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1dd1a1;
  border-radius: 50%;
}

.buyeditemminiBTN {
  width: 100px;
  height: 50px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  background-color: crimson;
  color: #121212;
  cursor: pointer;
  transition-duration: .3s;
}

.buyeditemminiBTN:hover {
  font-size: 20px;
}

/* -----------Total Price ----------------------*/

.charttotalpricecontainer {
  width: 35%;
  height: 300px;
  /* border: 1px solid black; */
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media(max-width:700px){
  .charttotalpricecontainer{
    width: 90%;
    align-items: center;
    justify-content: center;
  }
}

.payBTN {
  width: 100px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: #32ff7e;
  color: #121212;
  cursor: pointer;
  transition-duration: .3s;
}

.payBTN:hover {
  font-size: 24px;
  color: white;
}

/* -----------------------ADMİN PANEL ----------------------*/
/* ------------------------ADMİN PANEL ----------------------*/
/* -------------------------ADMİN PANEL ----------------------*/

.adminpanelMainContainer {
  padding: 20px 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #292929;
}

@media(max-width:700px){
  .adminpanelMainContainer{
    width: 90%;
  }
}

.itemaddedtitle {
  text-align: center;
  display: none;
  background-color: transparent;
}

.adminpanelformdiv {
  padding: 20px 0px;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #292929;
}

.apminpaneltitles {
  color: #FFFFFF;
  background-color: transparent;
}

.itempanelinputs {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 20px;
}

.addnewitemBTN {
  padding: 0px 10px;
  width: auto;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #32ff7e;
  font-size: 20px;
  cursor: pointer;
  transition-duration: .3s;
}

.addnewitemBTN:hover {
  font-size: 22px;
}